<!DOCTYPE html>
<html ng-app>
<head>
  <title>Rakesh's BLOG</title>
  <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>

</head>
<body>
<div id="container">
<%= yield %>
</div>
</body>
</html>
